<h1>Veículos cadastradis</h1>
<table border="1">
    <tr>
        <td>id</td>
        <td>placa</td>
        <td>modelo</td>
        <td>cor</td>
        <td>ano</td>
    </tr>
    {{#each veiculos}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.placa}}</td>
        <td>{{this.modelo}}</td>
        <td>{{this.cor}}</td>
        <td>{{this.ano}}</td>
    </tr>
    {{/each}}
</table>